.fullscreen-image {
    height: 70vh;
    /* 70% of the viewport height */
    width: 100vw;
    /* 100% of the viewport width */
    background-image: url('../images/fish.png');
    /* Add the image path */
    background-position: center center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Prevent the image from repeating */
    background-size: cover;
    /* Ensure the image covers the entire area */
    position: relative;
    /* Ensure child elements (like the overlay) stay within */
}

.headerscreen-image {
    height: 15vh;
    /* 25% ekrano aukščio */
    width: 100vw;
    background-image: url('../images/fish.png');
    /* Žuvies nuotrauka */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    /* Baltas tekstas ant tamsaus fono */
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 88%, 0 75%); */
}

/* Švelnus „dark overlay“ efektas */
.headerscreen-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Juodas atspalvis su 50% permatomumu */
}


/* Kad tekstas būtų virš overlay */
.headerscreen-image h1 {
    position: relative;
    z-index: 2;
}

@media (max-width: 930px) {
    .fullscreen-image {
        background-position: left;
    }
}

.fullscreen-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 30%, rgba(166, 216, 212, 0.3) 70%, rgba(166, 216, 212, 0) 100%);
    
}


.fixed-text {
    position: absolute;
    top: 25%;
    left: 40%;
    transform: translateX(-50%);
    width: 600px;
    padding: 15px;
    max-width: 90%;
    transition: opacity 8s ease-out;
    /* Animacija, kad tekstas palaipsniui atsirastų */
    opacity: 0;
    /* Pradžia nematoma */
}



.mainText {
    font-size: 31.5px;
    font-weight: 400;
    line-height: 40.95px;
    color: var(--primary-color);
}

.text {
    font-size: 15px;
    font-weight: 300;
    line-height: 25.5px;
    margin-top: 30px;
    color: var(--primary-color);
}

/* Pritaikymas mobiliesiems įrenginiams */
@media (max-width: 900px) {
    .fixed-text {
        font-size: 25px;
        /* Mažesnis šriftas mažesniems ekranams */
        width: 90%;
        line-height: 35px;
        
        max-width: 95%;
        min-width: 320px;
        padding: 10px;
        top: 25%;
        left: 50%;
    }
    .fullscreen-image {
        height: 85vh;
    }
}

/* Animacija, kad tekstas atsirastų po uždelsimo */
.fixed-text.visible {
    opacity: 2;
    /* Tekstas pasirodo */
}

.productList {
    color: var(--secondary-color);
        background: var(--primary-color);
        margin: 30px 10px 10px 0;
        padding: 13.5px 21.75px;
        font-size: 15px;
        font-weight: 400;
        line-height: 22.5px;
        min-width: 120px;
        text-decoration: none;
        text-align: center;
        display: inline-block;
        transition: 0.3s ease;
}

.productList:hover {
    background: rgba(255, 255, 255, 0.7);
}

.aboutUs {
    color: var(--primary-color);
        margin: 30px 10px 10px 0;
        text-decoration: none;
        padding: 11.4px 21.75px;
        line-height: 22.5px;
        font-size: 15px;
        font-weight: 400;
        min-width: 120px;
        text-align: center;
        display: inline-block;
        border: 2px solid var(--primary-color);
        background: transparent;
        opacity: 0.8;
        transition: 0.3s ease;
}

.aboutUs:hover {
    background: rgba(255, 255, 255, 0.1);
    opacity: 1;
}



/* Bottom transparent bar with text */
.bottom-line {
    position: absolute;
    bottom: 0;
    /* Align to the bottom of the image */
    width: 100%;
    height: 100px;
    background: var(--background-color);
    color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-line h2 {
    font-size: 20px;
    font-weight: 500;
}