.fullscreen-image {
    height: 100vh;
    /* 100% of the viewport height */
    width: 100vw;
    /* 100% of the viewport width */
    background-image: url('/images/background.jpg');
    /* Add the image path */
    background-position: center center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Prevent the image from repeating */
    background-size: cover;
    /* Ensure the image covers the entire area */
}

.fixed-text {
    position: absolute;
    top: 20%;
    left: 40%;
    transform: translateX(-50%);
    color: white;
    font-size: 55px;
    font-weight: 700;
    line-height: 60px;

    width: 850px;
    padding: 15px;
    max-width: 90%;
    text-shadow: 14px 10px 35px rgba(0, 0, 0, 0.8);
    /* Stipresnis šešėlis */
    transition: opacity 8s ease-out;
    /* Animacija, kad tekstas palaipsniui atsirastų */
    opacity: 0;
    /* Pradžia nematoma */

}

.text {
    font-size: 30px;
    font-weight: 700;
    color: #37c0fb;
}

/* Pritaikymas mobiliesiems įrenginiams */
@media (max-width: 768px) {
    .fixed-text {
        font-size: 25px;
        /* Mažesnis šriftas mažesniems ekranams */
        width: 90%;
        text-align: center;
        line-height: 35px;
        ;
        max-width: 95%;
        padding: 10px;
        top: 20%;
        left: 50%;

    }
}

/* Animacija, kad tekstas atsirastų po uždelsimo */
.fixed-text.visible {
    opacity: 2;
    /* Tekstas pasirodo */
}





/* Bottom transparent bar with text */
.bottom-line {

    position: absolute;
    bottom: 0;
    /* Stick to the bottom of the image */
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    /* Transparent black background */
    color: white;
    /* Text color */
    height: 70px;
    text-align: center;
}

.bottom-line h2 {
    font-size: 15px;
    margin: 0;
    padding: 5px;
}

.bottom-line a {
    color: #FFD700;
    /* Gold link color */
    text-decoration: none;
}

.bottom-line a:hover {
    text-decoration: underline;
}