.fullscreen-image {
    height: 70vh;
    /* 70% of the viewport height */
    width: 100vw;
    /* 100% of the viewport width */
    background-image: url('/images/background.jpg');
    /* Add the image path */
    background-position: center center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Prevent the image from repeating */
    background-size: cover;
    /* Ensure the image covers the entire area */
    position: relative;
    /* Ensure child elements (like the overlay) stay within */
}

.fullscreen-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(53, 53, 53, 0.8);
    /* Light grey with 50% transparency */
}


.fixed-text {
    position: absolute;
    top: 20%;
    left: 40%;
    transform: translateX(-50%);
    width: 700px;
    padding: 15px;
    max-width: 90%;
    transition: opacity 8s ease-out;
    /* Animacija, kad tekstas palaipsniui atsirastų */
    opacity: 0;
    /* Pradžia nematoma */
}



.mainText {
    font-size: 31.5px;
    font-weight: 400;
    line-height: 40.95px;
    color: rgb(255, 255, 255);
}

.text {
    font-size: 15px;
    font-weight: 300;
    line-height: 25.5px;
    margin-top: 30px;
    color: rgb(255, 255, 255);
}

/* Pritaikymas mobiliesiems įrenginiams */
@media (max-width: 900px) {
    .fixed-text {
        font-size: 25px;
        /* Mažesnis šriftas mažesniems ekranams */
        width: 90%;
 
      
        line-height: 35px;
        ;
        max-width: 95%;
        min-width: 320px;
        padding: 10px;
        top: 20%;
        left: 50%;

    }
}

/* Animacija, kad tekstas atsirastų po uždelsimo */
.fixed-text.visible {
    opacity: 2;
    /* Tekstas pasirodo */
}

.productList {
    color: rgb(0, 0, 0);
        background: rgb(255, 255, 255);
        margin: 30px 10px 10px 0;
        padding: 13.5px 21.75px;
        font-size: 15px;
        font-weight: 400;
        line-height: 22.5px;
        min-width: 120px;
        text-decoration: none;
        text-align: center;
        display: inline-block;
        transition: 0.3s ease;
}

.productList:hover {
    background: rgba(255, 255, 255, 0.7);
}

.aboutUs {
    color: rgb(255, 255, 255);
        margin: 30px 10px 10px 0;
        text-decoration: none;
        padding: 11.4px 21.75px;
        line-height: 22.5px;
        font-size: 15px;
        font-weight: 400;
        min-width: 120px;
        text-align: center;
        display: inline-block;
        border: 2px solid rgb(255, 255, 255);
        background: transparent;
        opacity: 0.8;
        transition: 0.3s ease;
}

.aboutUs:hover {
    background: rgba(255, 255, 255, 0.1);
    opacity: 1;
}



/* Bottom transparent bar with text */
.bottom-line {
    position: absolute;
    bottom: 0;
    /* Align to the bottom of the image */
    width: 100%;
}

.bottom-line h2 {
    width: 100%;
    height: 100px;
    background: rgb(196, 241, 190);
    color: rgb(53, 53, 53);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    font-size: 20px;
    font-weight: 500;
}