
.mainHeaderContainer {
 display: flex;
 justify-content:center;
 align-items:center;

 gap: 100px;
 height: 70px;
 background: rgba(0, 0, 0, 0.1);
    /* Transparent black background */
    color: white;
    font-weight: 800;
 position: fixed;
    /* Fixed position to stay at the top */
    top: 0;
    /* Aligns it to the top */
    left: 0;
    width: 100%;
    z-index: 1000;
    /* Ensures it's on top of other content */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Optional: adds a shadow for effect */
    font-size: 14px;
}

.mainHeaderList {
 display: flex;
 gap: 100px;

}

.mainList {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
}

.mainList li a {
    text-decoration: none;
    color: white;
    cursor: pointer;
   
}

.languages {
    display: flex;
    align-items: center;
    list-style: none;
    text-decoration: none;
    gap: 20px;
}

.languages li a {
    text-decoration: none;
    color: #37c0fb;
    cursor: pointer;
    
    
}

.mainList li a:hover {
    color: #37c0fb;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.languages li a:hover{
    color: white;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.phone {
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 15px;
    background-color: #37c0fb;
}

@media (max-width: 768px) {
    .nav-toggle {
        display: block !important;
        /* Force visibility */
        font-size: 28px;
        background: none;
        border: none;
        cursor: pointer;
        color: white;
        margin-right: 20px;
        z-index: 1000;
        /* Ensure it's above other elements */
    }
}

@media (max-width: 768px) {
    .mainList {
        flex-direction: column;
    }

    /* Hide the menu initially */
    .mainHeaderList {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px;
        right: 0;
        background: rgba(0, 0, 0, 0.6) ;
        text-align: center;
        padding: 10px 0;
        z-index: 999;
        width: 100%;
    }

    /* Show menu when active */
    .mainHeaderList.active {
        display: flex;
    }
}

/* Default: Hide the hamburger button on large screens */
.nav-toggle {
    display: none;
}