body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    font-family: "TT Firs Neue", sans-serif;
}

header {
    box-shadow: -1px 1px 3px -1px rgba(8, 8, 8, 0.29);
    -webkit-box-shadow: -1px 1px 3px -1px rgba(8, 8, 8, 0.29);
    -moz-box-shadow: -1px 1px 3px -1px rgba(8, 8, 8, 0.29);
}


