body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

:root {
    --primary-color: rgb(255, 255, 255);
    /* Given color */
    --secondary-color: rgb(0, 0, 0);
    /* Darker shade for contrast */
    --background-color: #A6D8D4;
    /* Lighter shade for background */
    --secondary-background-color: #F4F7FA;

    color: rgb(29, 106, 117);
    color: #A6D8D4;
    color: #F4F7FA;
    color: rgb(196, 241, 190);
    color: rgba(53, 53, 53, 0.8);;
}

.mz_component {
    position: relative;
}

.menu-icon {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    color: white;
    /* Ensures text (language name) is white */
    font-size: 16px;
    cursor: pointer;
    padding: 10px;
}

.menu-icon svg {
    width: 24px;
    height: 24px;
    fill: white;
    /* Set the SVG icon to white */
}

.mainHeaderContainer.scrolled .menu-icon svg {
    fill: var(--secondary-color);
}

.mainHeaderContainer.scrolled .menu-icon svg:hover {
    fill: var(--secondary-color);
}

.menu-icon svg:hover {
    fill: rgb(255, 255, 255, 0.7);
}

.current-lang {
    margin-left: 8px;
    /* Spacing between icon and current language */
    font-size: 16px;
}

.current-lang:hover {
    color: rgb(255, 255, 255, 0.7);
}

.mainHeaderContainer.scrolled .current-lang {
    color: var(--secondary-color);
}

.mainHeaderContainer.scrolled .current-lang:hover {
    color: rgb(0, 0, 0, 0.7);
}

#languages-menu {
    display: none;
    /* Initially hide the language menu */
    position: absolute;
    top: 100%;
    /* Position below the button */
    left: 0;
    background-color: var(--primary-color);
    border-radius: 5px;
   
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100px;
    z-index: 1000;
}

#languages-menu li {
    padding: 10px;
    text-align: center;
}

#languages-menu li a {
    color: var(--secondary-color);
    text-decoration: none;
    display: block;
}

#languages-menu li.selected a {
    font-weight: bold;
    color: #007bff;
    /* Highlight current language */
}

.menu-icon:hover+#languages-menu,
#languages-menu:hover {
    display: block;
    /* Show the menu on hover */
}

